Devolver.json
{
  "name": "Devolver",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lab/devolver",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "fd3f14c4-b21b-45f8-b5f7-e432328a0b30",
      "name": "Webhook",
      "webhookId": "3837ec2a-f970-420b-acb3-950b8b92a2a8"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1qn03Xku9pT1_Uw-74fDAutxe1kbjcEJzyPnNlHIpOpE",
          "mode": "list",
          "cachedResultName": "Prestamos Lab",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qn03Xku9pT1_Uw-74fDAutxe1kbjcEJzyPnNlHIpOpE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qn03Xku9pT1_Uw-74fDAutxe1kbjcEJzyPnNlHIpOpE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{$json.body.id}}",
            "Prestado/ Devuelto": "Devuelto"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "BannerID",
              "displayName": "BannerID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Semestre",
              "displayName": "Semestre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Equipo",
              "displayName": "Equipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Prestado/ Devuelto",
              "displayName": "Prestado/ Devuelto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "9c9dbded-d36d-4c50-9818-15b93219d66d",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vtECRbP6o6s6qp1v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"ok\": true,\n  \"msg\": \"Devolución registrada ✅\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        416,
        0
      ],
      "id": "27d59da9-21e1-4c8e-8f78-35fdcb5d82fa",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f02d4728-df8c-43c3-9725-8b123b51868e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "64b72cae0316b4be1665c44b9595433fbae252b15019ac2244ef29b4a7a8f070"
  },
  "id": "RZyDEAHu26yLL49M",
  "tags": []
}