Spectra – Delete Event (by ID).json
{
  "name": "Spectra – Delete Event (by ID)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "spectra-delete-id",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "43f8c4a6-e9ab-4146-be86-e554b8036a2a",
      "name": "Webhook",
      "webhookId": "a234d8c2-37ff-4b58-a3de-8ec9affd209b"
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "dbbalarezo@gmail.com",
          "mode": "list",
          "cachedResultName": "dbbalarezo@gmail.com"
        },
        "eventId": "={{$json.body.event_id}}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "382a24b5-6666-4b56-9259-0adc2532c298",
      "name": "Delete an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "66p2zkRF2o6RX1pP",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        416,
        0
      ],
      "id": "2f1692a2-c4f5-4244-8c24-32c89de555ae",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Delete an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c59a6a8f-d9ca-4b1e-bb4a-0096a3d741f9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "64b72cae0316b4be1665c44b9595433fbae252b15019ac2244ef29b4a7a8f070"
  },
  "id": "egmh1ti3AdJG51KR",
  "tags": []
}