workflows/My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "spectra-delete-exact",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "3c21dbec-84b6-4321-bf66-21134bad8f04",
      "name": "Webhook",
      "webhookId": "4683bb18-c62a-438f-8614-9bd9a6c04044"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "dbbalarezo@gmail.com",
          "mode": "list",
          "cachedResultName": "dbbalarezo@gmail.com"
        },
        "limit": 100,
        "timeMin": "={{$now.minus({ days: 30 })}}",
        "timeMax": "={{$now.plus({ days: 30 })}}",
        "options": {
          "query": "={{$json.body.title_exact}}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "1397973c-f70b-4162-a1d4-6318fad470de",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "66p2zkRF2o6RX1pP",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Espera que el webhook mande: { \"title_exact\": \"Reunión de Prueba\" }\nconst titleExact = (($json.body?.title_exact ?? $json.title_exact ?? \"\") + \"\")\n  .toLowerCase()\n  .trim();\n\n// Eventos que llegan desde \"Get many events\"\nconst events = $input.all().map(i => i.json);\n\n// Normaliza texto (quita acentos) para comparar mejor\nconst norm = (s) => (s || \"\")\n  .toLowerCase()\n  .normalize(\"NFD\")\n  .replace(/[\\u0300-\\u036f]/g, \"\")\n  .replace(/\\s+/g, \" \")\n  .trim();\n\nconst needle = norm(titleExact);\n\n// Busca coincidencia por summary\nlet match = null;\nfor (const ev of events) {\n  const summary = norm(ev.summary || ev.title || \"\");\n  if (!needle) continue;\n  if (summary.includes(needle) || needle.includes(summary)) {\n    match = ev;\n    break;\n  }\n}\n\n// Si no encontró, devuelve found:false\nif (!match) {\n  return [{ json: { found: false, reason: \"no_match\", title_exact: titleExact, event_id: \"\" } }];\n}\n\n// Si encontró, devuelve event_id\nreturn [{\n  json: {\n    found: true,\n    title_exact: titleExact,\n    summary: match.summary,\n    event_id: match.id\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "f412cdee-595f-4170-82cb-0839abe18f5f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c1bf93ba-77bc-4c9f-9895-8cd020c8f72a",
              "leftValue": "={{$json.event_id}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "c557724c-3a6e-49ca-8925-77739a3d7065",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "dbbalarezo@gmail.com",
          "mode": "list",
          "cachedResultName": "dbbalarezo@gmail.com"
        },
        "eventId": "={{$json.event_id}}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        832,
        -96
      ],
      "id": "6a7a7d5e-27ca-46db-ba86-4c178c677348",
      "name": "Delete an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "66p2zkRF2o6RX1pP",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"ok\": true,\n  \"deleted\": true,\n  \"event_id\": \"={{$json.event_id}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1040,
        -96
      ],
      "id": "49463681-2098-4dca-afc7-23261b2c977d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        832,
        96
      ],
      "id": "97caab50-316f-4292-81eb-82ff17deb639",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Delete an event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "fc72d895-8c99-4012-8d3e-8872dcda20d5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "64b72cae0316b4be1665c44b9595433fbae252b15019ac2244ef29b4a7a8f070"
  },
  "id": "4GqRHMiRDHqBo7Rj",
  "tags": []
}
